.SaleProducts {
  padding: 40px 0;
  position: relative;
}
.SaleProducts::before {
  content: "";
  border-bottom: 1px solid #ddd;
  position: absolute;
  left: -999px;
  right: -999px;
  top: 0;
}
.SaleProducts h2 {
  font-size: 22px;
  color: rgb(0, 0, 0, 0.85);
  font-weight: 500;
  margin: 0 0 40px;
}
.SaleProducts h3 {
  height: 80px;
}

.price {
  display: flex;
}
.price span {
  margin-right: 5px;
}

.saleProducts-price {
  color: orangered;
  text-decoration: line-through;
  font-size: 20px;
  font-weight: 400;
}
